Debug
Release
build-arm-debug
build-arm-release
build-x86-amd64-release
build-x86-amd64-debug
ipch
*.sdf
*.suo
*.opensdf
*.swp
*.pcap
*.swn
*.swo
core
*.log
build*
build_deb
build_src
build_tst
build_package
build_local
build_info
*.deb
